@charset "UTF-8";

@font-face {
    font-family: 'sentic-text-black' ;
    src: url(fonts/sentic-text-black.otf);
}

/*Mobile first*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #D6E1F0 ;
}

.screen1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    text-align: center; 
    height: 500px;
    width: 320px;
    border-radius: 15px;
    background-color: white;
}

img{
    margin-top: 17px;
    border-radius: 10px;
    height: 290px;
    width: 290px;
}

h1{
    font-family:sentic-text-black;
    margin-top: 10px;
    font-size: 21px;
    color: #3C4657;
    padding: 10px 0px 30px 0px;
}

p{
    font-family: Arial, Helvetica, sans-serif ;
    color:  #7f8081;
    font-size: 16px;
}


